
body{
  background-color: rgb(124, 124, 124);

}

.mainHeading{
  text-align: center;
  color:rgb(0, 0, 0);
}

.imageDim{
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
/* to have the wide change we use width 100%, and hight auto */
}
