
body{
  background-color: rgb(163, 160, 156);

}

.mainheading{
  text-align: center;
  color:rgb(0, 0, 0);
}

.picture{
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
/* to have the wide change we use width 100%, and hight auto */
}
